@import "../styles/variables";

// btn styles
$btn-padding: 0.714rem 1.286rem;

// color
$btn-bg-color: #e0e1e2;
$btn-text-color: #000;

// bg-color & text color contrast
$btn-primary-bg-color: $primary-color;
$btn-primary-text-color: #fff;

$btn-secondary-bg-color: $secondary-color;
$btn-secondary-text-color: #fff;

@mixin button-base {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  border: 0;
  outline: 0;
  padding: $btn-padding;
  font-size: $base-font-size;
  text-decoration: none;
  cursor: pointer;
  transition: background .2s;
  user-select: none;
}

@mixin interact($bg-color, $light: false) {
  &:hover, &:focus {
    @if $light {
      background: lighten($bg-color, 10%);
    } @else {
      background: darken($bg-color, 10%);
    }
  }
  @include active($bg-color, $light);
}

@mixin active($bg-color, $light: false) {
  &.active,
  &:active {
    @if $light {
      background: lighten($bg-color, 20%);
    } @else {
      background: darken($bg-color, 20%);
    }
  }
}
