@import "../styles/variables";
@import "./button-base";

:host {
  background: $btn-bg-color;
  color: lighten($btn-text-color, 40%);
  border-radius: 4px;
  border: 0;
  outline: 0;
  padding: $btn-padding;
  cursor: pointer;
  transition: background .2s;
  user-select: none;

  @include interact($btn-bg-color);

  // button styles
  &.primary {
    background: $btn-primary-bg-color;
    color: $btn-primary-text-color;

    @include interact($btn-primary-bg-color);
  }

  &.secondary {
    background: $btn-secondary-bg-color;
    color: $btn-secondary-text-color;

    @include interact($btn-secondary-bg-color, true);
  }

  &[disabled] {
    opacity: .45;
    cursor: default;
    pointer-events: none;
  }
}
